<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Form Basic</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" #f="ngForm" (submit)="savePocket()">
                    <div class="card-body">
                        <h4 class="card-title">Create new Pocket</h4>
                        <div class="form-group row">
                            <label for="pocket-name" class="col-sm-3 text-right control-label col-form-label">
                                Pocket name
                            </label>
                            <div class="col-sm-9">
                                <input type="text" 
                                       class="form-control" 
                                       id="pocket-name" 
                                       name="name"
                                       [(ngModel)]="model.name" 
                                       placeholder="Pocket name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">
                            Currency
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" 
                                    name="currency"
                                    [(ngModel)]="model.currency">
                                <option *ngFor="let currency of currencies" 
                                        [ngValue]="currency.id" >
                                    {{currency.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>