<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Form Basic</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" #f="ngForm" (submit)="saveOperation()">
                    <div class="card-body">
                        <h4 class="card-title">Operation</h4>
                        <div class="form-group row">
                            <label for="description"
                                class="col-sm-3 text-right control-label col-form-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="description" 
                                          class="form-control" 
                                          name="description"
                                          [(ngModel)]="model.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">
                                Operation type
                            </label>
                            <div class="col-sm-9">
                                <select class="select2 form-control custom-select select2-hidden-accessible"
                                        name="operationType" 
                                        [(ngModel)]="model.operationType">
                                    <option *ngFor="let type of operationTypes" [ngValue]="type.id">
                                        {{type.operationType}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">
                                Pocket
                            </label>
                            <div class="col-sm-9">
                                <select class="select2 form-control custom-select select2-hidden-accessible" 
                                        name="pocket"
                                        [(ngModel)]="model.pocket">
                                    <option></option>
                                    <option *ngFor="let pocket of pockets" [ngValue]="pocket.id">
                                        {{pocket.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">
                                Customer
                            </label>
                            <div class="col-sm-9">
                                <select class="select2 form-control custom-select select2-hidden-accessible" 
                                        name="customer"
                                        [(ngModel)]="model.customer">
                                    <option *ngFor="let customer of customers" [ngValue]="customer.id">
                                        {{customer.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Amount</label>
                            <div class="input-group col-sm-9">
                                <input type="text" 
                                       name="amount" 
                                       class="form-control" 
                                       placeholder="5.000" 
                                       aria-label="Amount" 
                                       aria-describedby="basic-addon2" 
                                       [(ngModel)]="model.amount" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>