<div class="card my-5">
    <div class="card-body">
        <h5 class="card-title">Pocket list</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Currency</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pocket of pockets">
                        <td>{{ pocket.id }}</td>
                        <td>{{ pocket.name }}</td>
                        <td>{{ pocket.currency['name'] }}</td>
                        <td>
                            <div class="cursor-pointer" (click)="editPocket(pocket)">
                                <i class="fas fa-edit m-r-5 m-l-5"></i>
                            </div>
                            <div class="cursor-pointer" (click)="deletePocket(pocket)">
                                <i class="fas fa-user-times m-r-5 m-l-5"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>