<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Form Basic</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="card my-5">
    <div class="card-body">
        <h5 class="card-title">Customer list</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">User</th>
                        <th scope="col">Operation type</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operation of operations">
                        <td>{{ operation.id }}</td>
                        <td>{{ operation.description }}</td>
                        <td>{{ operation.description }}</td>
                        <td>{{ operation.operationType['operationType'] }}</td>
                        <td>{{ operation.amount }}</td>
                        <td>
                            <div class="cursor-pointer" (click)="editOperation(operation)">
                                <i class="fas fa-edit m-r-5 m-l-5"></i>
                            </div>
                            <div class="cursor-pointer" (click)="deleteOperation(operation)">
                                <i class="fas fa-user-times m-r-5 m-l-5"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>