<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal" #f="ngForm" (submit)="saveCustomer()">
                    <div class="card-body">
                        <h4 class="card-title">New customer</h4>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" 
                                       class="form-control" 
                                       id="name"
                                       name="name"
                                       [(ngModel)]="model.name"
                                       placeholder="Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" 
                                       class="form-control" 
                                       id="password"
                                       name="password"
                                       [(ngModel)]="model.password" 
                                       placeholder="password" />
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
