<div class="card my-5">
    <div class="card-body">
        <h5 class="card-title">Customer list</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let currency of currencies">
                        <td>{{ currency.id }}</td>
                        <td>{{ currency.name }}</td>
                        <td>
                            <div class="cursor-pointer" (click)="editCurrency(currency)">
                                <i class="fas fa-edit m-r-5 m-l-5"></i>
                            </div>
                            <div class="cursor-pointer" (click)="deleteCurrency(currency)">
                                <i class="fas fa-user-times m-r-5 m-l-5"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>